@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding-large {
    @apply px-12;
  }

  .text-gray {
    color: #848486;
  }

  .text-new {
    color: #9e3501;
  }

  .active {
    @apply pb-1 border-b-2 border-black;
  }

  .accordion-header {
    @apply py-4 block cursor-pointer;
  }

  .accordion-header img {
    transition: transform 0.3s ease-in-out;
  }

  .accordion-toggle {
    display: none;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .accordion-toggle:checked ~ .accordion-content {
    max-height: 20rem;
  }

  .accordion-toggle:checked + .accordion-header img {
    transform: rotate(180deg);
  }

  .unchecked li,
  .checked li {
    @apply flex items-center pr-32;
  }

  .unchecked li::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("./assets/checkbox-unchecked-icon.png");
    background-size: contain;
    vertical-align: middle;
    margin-right: 3px;
  }

  .checked li::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("./assets/checkbox-checked-icon.png");
    background-size: contain;
    vertical-align: middle;
    margin-right: 3px;
  }
}

.more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.show-more-checkbox:checked + .filter-content .more-content {
  max-height: 10rem;
}

.show-more-label {
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.show-more-checkbox:checked ~ .filter-content .show-more-label::before {
  content: "- 精簡";
}

.show-more-checkbox:not(:checked) ~ .filter-content .show-more-label::before {
  content: "+ 更多";
}
