@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-r-1 {
    border-right-width: 1px;
  }
  .padding-large {
    @apply px-12;
  }
  .text-gray {
    color: #848486;
  }

  .active {
    @apply pb-1 border-b-2 border-black;
  }

  .custom-checkbox img {
    transition: transform 0.3s ease;
  }

  .custom-checkbox input:checked + img {
    transform: scale(-1);
  }
}
