@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-r-1 {
    border-right-width: 1px;
  }
  .padding-large {
    @apply px-12;
  }
  .text-gray {
    color: #848486;
  }

  .active {
    @apply pb-1 border-b-2 border-black;
  }

  .accordion-header {
    @apply py-4 block cursor-pointer;
  }

  .accordion-header img {
    transition: transform 0.2s ease;
  }

  .accordion-toggle {
    display: none;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .accordion-toggle:checked ~ .accordion-content {
    max-height: 10rem;
  }

  .accordion-toggle:checked + .accordion-header img {
    transform: rotate(180deg);
  }
}
