@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding-large {
    @apply px-12;
  }

  .custom-dialog::backdrop {
    @apply opacity-0;
  }

  .text-gray {
    color: #848486;
  }

  .text-new {
    color: #9e3501;
  }

  .unchecked,
  .checked {
    @apply flex items-center pr-10;
  }

  .unchecked::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("./assets/checkbox-unchecked-icon.png");
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 3px;
  }

  .checked::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("./assets/checkbox-checked-icon.png");
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 3px;
  }

  .account-checked,
  .account-unchecked {
    @apply flex pr-10;
  }

  .account-checked::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("./assets/checkbox-checked-icon.png");
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    margin-right: 14px;
  }

  .account-unchecked::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("./assets/checkbox-unchecked-icon.png");
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    margin-right: 14px;
  }
}
